<footer class="footer">
    <div class="footer__ico">
        <a href="../index.html#hero"><img src="../images/ico-arrow.svg" alt="icono scroll subir"></a>
    </div>
    <nav class="footer__menu">
        <ul class="footer__menu--list">
            <li><a href="https://adalab.es/">zapatillas</a></li>
            <li><a href="https://adalab.es/">ropa</a></li>
            <li><a href="https://adalab.es/">niño/a</a></li>
            <li><a href="https://adalab.es/">destacados</a></li>
            <li><a href="https://adalab.es/">tips</a></li>
        </ul>
        <ul class="footer__menu--list">
            <li><a href="https://adalab.es/">Twitter</a></li>
            <li><a href="https://adalab.es/">Instagram</a></li>
            <li><a href="https://adalab.es/">Youtube</a></li>
        </ul>
    </nav>
    <div class="footer__ch">
        <p>&copy;2023</p>
        <p>we <span>&hearts;</span> run</p>
    </div>
</footer>